{% extends 'base.html' %}

{% block head %}
<title>Grocery list</title>
{% endblock %}

{% block body %}
<div>
  <h1>Groceries</h1>

  <div>
    <form action='{{ url_for("add") }}' method='POST'>
      <input class='addItemText' type='text' name='addItem' placeholder='Item Name'>
      <div></div>
        <input class='addNumText' type='text' name='addNum' placeholder='Number'>
        <input class='addItemButton' type='submit' value='Add Item'>
      </div>
    </form>
  </div>

  <div>
    <table>
      <tr>
        <th class='numHeader'>Num</th>
        <th class='itemHeader'>Item</th>
      </tr>
      {% for item in groceries %}
      <tr class='tableData'>
        <td class='numData'>{{ item.num }}</td>
        <td class='nameData'>{{ item.item }}</td>
      </tr>
      {% endfor %}
    </table>
  </div>

  <div>
    <form class='deleteItem' action='{{ url_for("delete") }}' method='POST'>
      <input class='deleteItemText' type='text' name='deleteItem' placeholder='Delete Item'>
      <input class='deleteButton' type='submit' value='Delete'>
    </form>
  </div>

    <div  class='clearList'>
      <form class='clearListButton' action="{{ url_for('clearList') }}" method='POST'>
        <input type='submit' value='Clear List'>
      </form>
    </div>


</div>
{% endblock %}