{% extends 'base.html' %}

{% block head %}
<title>Grocery list</title>
{% endblock %}

{% block body %}
<div>
  <div class='pageTitle'>
    <img src='static/images/groceries.png' class='groceriesImageLeft' alt='grocery pic'>
    <h1>Groceries</h1>
    <img src='static/images/groceries.png' class='groceriesImageRight' alt='grocery pic'>
  </div>

  <div>
    <form class='addItem' action='{{ url_for("add") }}' method='POST'>
    <label>Add Item:</label>
      <div>
        <input class='addItemText' type='text' name='addItem' placeholder='Item Name'>
          <div></div>
            <input class='addNumText' type='text' name='addNum' placeholder='Number'>
            <input class='addItemButton' type='submit' value='Add'>
          </div>
      </div>
    </form>
  </div>

  <div>
    <form class='deleteItem' action='{{ url_for("delete") }}' method='POST'>
      <label class='deleteItemLabel'>Delete Item:</label>
      <div>
        <input class='deleteItemText' type='text' name='deleteItem' placeholder='Item Name'>
        <input class='deleteButton' type='submit' value='Delete'>
      </div>
    </form>
  </div>

  <div  class='clearList'>
    <form class='clearListButton' action="{{ url_for('clearList') }}" method='POST'>
      <label class='clearListLabel'>Clear List:</label>
      <input type='submit' value='Clear'>
    </form>
  </div>

  <div>
    <table>
      <tr>
        <th class='numHeader'>Num</th>
        <th class='itemHeader'>Item</th>
      </tr>
      {% for item in groceries %}
      <tr class='tableData'>
        <td class='numData'>{{ item.num }}</td>
        <td class='nameData'>{{ item.item }}</td>
      </tr>
      {% endfor %}
    </table>
  </div>
  

</div>
{% endblock %}